.page-title {
	font: 24pt sans-serif;
	color: #252729;
	position: relative;
	top: 20px;
	width: 100%;
	left:10%;
}

#mapDiv {
	width: 600px;
	height: 400px;
	margin-left: 10px;
	margin-top: 5%;
}

#mainSVG {
	position: absolute;
	top: 15%;
	left: 10px;
}

.axis {
	cursor: default;
}

.pointer {
	cursor: pointer;
}

.rectHist {
	cursor: pointer;
}

.textHist {
	cursor: default;
}

.percHist {
	cursor: pointer;
}

.infoChoropleth {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px
	rgba(0,0,0,0.2);
	border-radius: 5px;
}

.infoChoropleth h4 {
	margin: 0 0 5px;
	 color: #777;
}

#choiceButton {
	position: absolute;
	margin: 5px 0px 0px 564px;
	width:auto;
	height:auto;
	cursor: pointer;
}
